# vim: set ts=2 sw=2 ai si et:
---

name: Continuous Builds

on:
  push:
    branches:
      - '**'
    tags:
      - '!**'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y wget
          wget https://github.com/AppImageCrafters/appimage-builder/releases/download/v1.1.0/appimage-builder-1.1.0-x86_64.AppImage -O ./appimage-builder
          chmod +x ./appimage-builder
      - uses: actions/checkout@v3
      - name: Get source
        run: |
          git config --global --add safe.directory $PWD
          git fetch --prune --unshallow
      - name: Build AppImage
        run: |
          ./appimage-builder --recipe proxmox-backup-client.appimage-builder.yml --skip-tests
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2.1.4
        with:
          name: proxmox-backup-client
          path: 'proxmox-backup-client*.AppImage*'
